<h1><%=@team.name%>'s Schedule</h1>

<table>
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Team 1</th>
      <th>Team 1 Points</th>
      <th>Team 2</th>
      <th>Team 2 Points</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.datetime.strftime('%m/%d/%y - %I:%M') %></td>
        <td><%= game.home_team.name %></td>
        <td><%= game.team1points %></td>
        <td><%= game.away_team.name %></td>
        <td><%= game.team2points %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Back', root_path %></p>
